/* basics */
/*Basics*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

html, html a {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

html, body {
	min-height: 100%; 
}

body {
	font-size: 17px;
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #444;
	margin: 0;
	padding: 0; 
}

h2 { font-size: 60px;}
h3 { font-size: 54px;}
h4 { font-size: 32px;}
h5 { font-size: 21px;}
h6 { font-size: 18px;}

p {
	line-height: 1.4;
	margin: 20px 0;
}

p.subtitle {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: #777;
	text-align: center;
}

img, embed, object, video {
	max-width: 100%; }


ul, li {
	list-style: none;
	margin: 0;
	padding: 0; 
}

a {
	text-decoration: none; 
	color: #5dae87;
}

a:hover {
	text-decoration: none; 
	color: #42966e;
}

::selection {
	background: #444;
	color: #fff;
}

.clear {
	clear: both;
}
	
.wrapper {
	max-width: 1190px;
	margin: 0 auto;
	position: relative; 
}

input[type=text] {
	border: 2px solid #444;
	background: #fff;
	font-size: 17px;
	color: #444;
	padding: 16px;
	border-radius: 999px;
	width: 280px;
	font-family: 'Arimo', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

.buttons {
	width: auto;
	margin: 0 auto;
	text-align: center;
}

a.button-1, a.button-2, button {
	color: #fff;
	background: #5dae87;
	border: 2px solid #5dae87;
	border-radius: 999px;
	margin-top: -2px;
	margin-left: 10px;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.03em;
	display: inline-block;
	width: 220px;
	margin: 10px;
	text-align: center;
	padding: 18px 0;
}

a.button-1:hover {
	border-color: #42966e;
	background: #42966e;
}

a.button-2 {
	border-color: #444;
	background: none;
	color: #444;
}

a.button-2:hover {
	background: #444;
	color: #fff;
}

/* Fond pour la page d'accueil */
body.home-page {
    background: url('../img/header-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Fond pour la page de chargement de fichiers */
body.upload-page {
    background: url('../img/header-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Fond pour la page des prévisions */
body.forecast-page {
    background: url('../img/header-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Fond pour la page des contrats */
body.contracts-page {
    background: url('../img/header-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Fond pour la page de création de contrat */

/* navbar header */
header#top {
	background: #fff;
	height: 120px;
}

h1.logo a {
	float: left;
	line-height: 2.25;
	text-indent: -4999px;
	background: url(../img/proximus-logo.png) no-repeat;
	margin: 40px 0 0 40px;
	width: 56px;
	height: 74px;
}

header#top nav {
	float: right;
	width: auto;
	margin-top: 60px;
	margin-right: 40px;
}

header#top nav ul li {
	float: left;
}

header#top nav ul li a {
	display: inline-block;
	background: none;
	padding:  10px 15px;
	color: #777;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

header#top nav ul li a:hover {
	color: #444;
}

header#top nav ul li a.nav-cta {
	color: #5dae87;
	border: 2px solid #5dae87;
	border-radius: 999px;
	margin-top: -2px;
	margin-left: 10px;
}
/*Banner*/
#banner {
	height: 720px;
	position: relative;
	padding: 1px 0 0 0;
}

#banner h2 {
	margin: 220px auto 0;
	padding: 0 5%;
	opacity: 0.9;
	color: #333;
	font-size: 108px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.03em;
}

#banner p.subtitle {
	font-size: 20px;
	margin: 10px 0 50px 0;
}
/**/
body.newdeal-page {
    background: url('../img/header-image.jpg') no-repeat center center fixed;
    background-size: cover;
}
.header2{
	height: 700px;
}
.video-section {
	text-align: center;
	padding: 100px 0;
}

.video-section p.subtitle {
	color: #5dae87;
	font-size: 17px;
}

.video-section video {
	margin-top: 80px;
}

.video-section .button-1, .video-section .button-2 {
	display: block;
	margin: 60px auto 0 auto;
}

/*Services Section*/

.services-section {
	text-align: center;
	padding: 100px 0;
}

.services-section p.subtitle {
	color: #5dae87;
	font-size: 17px;
}

ul.services-list {
	width: 90%;
	margin: 100px auto 60px;
}

ul.services-list li {
	float: left;
	width: 21%;
	background: #fff;
	padding: 60px 0;
	margin: 0 2%;
}

ul.services-list li:hover {
	box-shadow: 0px 0px 40px rgba(0,0,0,.1);
}

ul.services-list li .image-container {
	width: 100px;
	height: 100px;
	margin: 0 auto 40px auto;
	border-radius: 999px;
	position: relative;
}

ul.services-list li .image-container img {
	position: absolute;
	top: 28px;
	left: 28px;
}

ul.services-list li p {
	width: 80%;
	margin: 20px auto 40px auto;
}

ul.services-list li a {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #5dae87;
}

ul.services-list li a:hover {
	color: #42966e;
}

ul.services-list li:first-of-type {
	margin-left: 0;
}

ul.services-list li:last-of-type {
	margin-right: 0;
}

/*Footer*/

footer {
	background: #444;
	margin-top: 0px;
	color: #fff;
	text-align: center;
	padding: 60px 0;
	width:100%;
}

footer a.logo {
	display: block;
	float: left;
	color: #fff;
	text-indent: -4999px;
	margin: 0 0 0 40px;
	padding: 0 0 40px 0;
	width: 56px;
	height: 74px;
}

footer .footer-left {
	float: left;
	text-align: left;
	margin-top: 5px;
	margin-left: 50px;
}

footer .footer-right {
	float: right;
	margin-top: 20px;
	text-align: right;
}

footer p {
	font-size: 17px;
	margin: 5px;
}

footer p.copyright {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

footer .footer-links {
	color: #777;
}

footer .footer-links a {
	color: #777;
	margin: 0 20px;
}

footer .footer-links a:hover {
	color: #5dae87;
}

footer .footer-links a:first-of-type {
	margin: 0 20px 0 0;
}

footer .footer-right a.social {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: no-repeat center;
	text-indent: -4999px;
	overflow: hidden;
	text-align: left;
	background-color: #363636;
	border-radius: 999px;
	margin-left: 10px;
}

footer .footer-right a.social:hover {
	background-color: #5dae87;
}

footer a.social.facebook {
	background-image: url(../images/social-facebook.png);
}
footer a.social.twitter {
	background-image: url(../images/social-twitter.png);
}
footer a.social.google {
	background-image: url(../images/social-google.png);
}