{% extends 'base.html' %}
{% block body_class %}forecast-page{% endblock %}
{% block title %}Prévisions d'audience{% endblock %}

{% block content %}
<h1>Configurer les Prévisions d'Audience</h1>

<form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
        <label for="start_date" class="form-label">Date de début</label>
        {{ form.start_date }}
    </div>
    <div class="mb-3">
        <label for="end_date" class="form-label">Date de fin</label>
        {{ form.end_date }}
    </div>
    {% csrf_token %}
    <label for="channels">Sélectionnez des chaînes</label>
    <select name="channels" id="channels" multiple>
        {% for channel in channels %}
            <option value="{{ EZ}}">{{ channel.name }}</option>
        {% endfor %}
    </select>

    <label for="products">Sélectionnez des produits</label>
    <select name="products" id="products" multiple>
        {% for product in products %}
            <option value="{{ product.name }}">{{ product.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-success">Sauvegarder la configuration</button>
</form>
{% endblock %}
