{% extends 'base.html' %}
{% block content %}
<h1>Prévisualisation du fichier</h1>
<table class="table">
    <thead>
        <tr>
            {% for key in data_preview.0.keys %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in data_preview %}
        <tr>
            {% for value in row.values %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
